{# cms/articleEdit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Article</h1>

    {{ form_start(form) }}

    
    {{ form_row(form.title) }}
    {{ form_row(form.resume) }}
    {{ form_row(form.user) }}
    


<button type="submit">Save Changes</butto

{% endblock %}

