{% extends 'base.html.twig' %}

{% block title %}{{controller_route}}{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div {{ react_component('App', { 'username': app.user.username, 'role' : app.user.roles[0], 'id': user.id, 'connected': true, 'route':controller_route}) }}></div>
    {% else %}
        <div {{ react_component('App', { 'username': '', 'connected': false, 'route':controller_route}) }}></div>
    {% endif %}


{% endblock %}
