{% extends 'base.html.twig' %}

{% block title %}{{controller_route}}{% endblock %}

{% block body %}

    <a href="{{ path('app_home') }}" class="btn btn-primary">HOME</a>
    <a href="{{ path('app_login') }}" class="btn btn-primary">login</a>
    <div {{ react_component('ThreeD') }}></div>


{% endblock %}
