@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100&family=Urbanist:wght@100&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, #root{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.App{
  width: 100vw;
  height: 100vh;
}

body{
  background-color: #121928 ;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100%;
  height: 100%;
  color: #121212;
}
.Register__container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  
}
.wrapper{
  width: 420px;
  color: #121212;
  padding: 36px 40px;
  border-radius: 23px;
  background-color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.wrapper h1{
  font-size: 36px;
  align-items: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0px 0px;
}

.wrapper input{
  width: 100%;
  height: 100%;
  outline: none;
  border: 2px solid rgba(18, 18, 18, 1);
  border-radius: 30px;
  font-size: 16px;
  color: #121212;
  padding: 20px 45px 20px 20px;
}
.wrapper input::placeholder{
 color: #121212;
}
.wrapper .input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;

}

.wrapper .remeber-forgot{
  display: flex;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remeber-forgot label input {
  accent-color: #121212;
  margin-right:3px ;
  border: 1px solid #121212;
}
.remeber-forgot a {
  text-decoration: none;
  color: #121212;

}
.remeber-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background-color: #121212;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}
.wrapper .btn:hover{
  color: #121212;
  background-color: #fff;
  border: 1px solid #121212;
}
.wrapper .register-link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14.5px;
 
  text-align: center;

  margin-bottom: 5px;
}
.wrapper .register-link a {
  font-size: 16px;
  font-weight: 800;
}
/*


}
.Registeration__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #121928;
  width: 700px;
  height: 784px;
  border-radius: 74px;

  position: absolute;
  left: 45px;
  z-index: 10;
}
.social-links{
  width: 61.5px;
height: 60px;
flex-shrink: 0;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background-color: red;
}



.Registeration__title{
 font-size: 85px;
 font-weight: 800;
}
.Registeration__text{
  font-size: 20px;
  color: #000;
  text-align: center;
 }
 .or{
  margin-bottom: 20px;
 } 
.Registeration__social  {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.Registeration__social li  {
  margin: 20px 36px;
}

.input-style {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #F5F9FF;
  margin-left: 20px;
  margin-bottom: 14px;
  color: #121928;
  width: 100%;
}

.input-style .flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-style img {
  margin: 0px 15px; /* Ajoutez une marge à l'image si nécessaire */

/* 
.input-field {
  text-align: start;
  width: 100%;
  border: none; 
  background-color: #F5F9FF;
  padding: 15px 200px 15px 0px;

}
.input-field::placeholder {
  color: #121928;
  font-weight: 300;
}
.placeholder {
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  text-align: center;
} */

/* .input{
  width: auto%;
  height: 100%;
  background-color: #3b5284;
} */
/* 
.flex-container {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.flex-container label {
  margin-right: 5px; 
}  */
/* a{
  font-size: 20px;
  color: #fff;
  background-color: #202A38;
  border-radius: 23px;
  padding: 10px 60px;
} */

/* 
.Registeration__form__redirection{
  background-color: #202A38;
  height: 788px;
  width: 700px;
  border-radius: 74px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
  left: 430px;
  z-index: 0;

}
.Registeration__form__redirection__title{
  font-size: 75px;
  font-weight: 800;
  color: white;
}
.Redirection__text{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}


 */



/* Les boutons  */
/* 
.btn__SignIN{
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  padding: 4px 50px;
  border-radius: 39px;
  background-color: #121928;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.btn__SignIN:hover{
  color: #121928;

  background-color: #fff;
}

.btn__SignUp{
  font-size: 25px;
  font-weight: 800;
  color: #121212;
  padding: 4px 50px;
  border-radius: 39px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.btn__SignUp:hover{
  color: #fff;

  background-color: #121212;
} */

body .ThreeDPage{
  height: 100%;
  background-color: #fff;
}
.ThreeDPage .ThreeDPage__utilities{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
  height: 20%;
}
.ThreeDPage .ThreeDPage__link{
  margin-right: 10px;
  padding: 10px 50px;
  background-color: #121928;
  color: #fff;
  border-radius: 23px;
}