
.Article{
    width: 100%;
    height: 100%;
}

.ArticleComponent{
    width: 100%;
    height: 100%;
    margin: 0px 50px 50px 50px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 30px;
    overflow-x: auto
}
.btn__article{
    margin-right: 80px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: column;
}

.article{
    background-color: rgb(26, 110, 138);
    width: 20vw;
    height: 20vh;
    margin-right: 80px;
    margin-bottom: 80px;
}

.articleAdd{
    background-color: rgba(32,42,56, 1);
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.plus{
    background-color: rgb(60, 80, 107);
    padding: 10px;
    border-radius: 100%;
}