/***********************/
/*******CONTENT*********/
/***********************/

.Content{
    width: 100%;
    height: 100%;
    display: flex;
}

/***********************/
/********NAVBAR*********/
/***********************/

.NavBar{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
}

/***********************/
/*******SIDEBAR*********/
/***********************/

.SideBar{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/***********************/
/*******SIDEBAR*********/
/***********************/

.Chart{
    width: 100%;
    height: 100%;
}

/***********************/
/*********DATA**********/
/***********************/

.Data{
    width: 100%;
    height: 100%;
    display: flex;
}


