.ImagePicker {
    height: 96%;
    width: 50%;
    background-color: #fff;
    border-radius: 23px;
    padding: 30px;
    color: #121928;
    display: flex;
    flex-direction: column;
  }


.ImagePicker button{
    width: 100px;
    height: 100px;
}

.ImagePicker img{
    width: 100px;
    height: 100px;
}

.galery {
    background-color: #fff;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 14px;
  }
  .galery::after {
    content:'';
    display:block;
    flex-grow: 10;
  }
  .galery .galery__list {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
  }
  .galery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  