.Media {
    background: #fff;
    color: black;
    width: 100%;
    height: auto;
    margin: 0px 50px 50px 50px;
    border-radius: 30px;
    padding: 30px;
    overflow-x: auto;
  }

  .galery {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 14px;
  }
  .galery::after {
    content:'';
    display:block;
    flex-grow: 10;
  }
  .galery .galery__list {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
  }
  .galery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .ImageSelect {
    border: 1px solid #ccc;
    padding: 1px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
  }

  .ImageSelect:hover {
    background-color: #f0f0f0;
    border-color: #999;
    cursor: pointer;
  }