.SideBar{
    
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:#fff;
    border-radius: 0px 23px 23px 0px;
    padding: 20px;
}
.Sidebar__link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    margin-bottom: 80px;
    color: #fff;  
    background-color:#121928;
    border-radius: 30px;
    font-weight: 800;
    border: 1px solid #121928;
}
.Sidebar__link:hover{

    color: #121928;  
    background-color:#fff;
    border: solid 1px #121928;
}
.Sidebar__link:first-child{
    margin-top: 80px;
}
.Sidebar__link button span {
  margin-right: 10px;
}
